<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %>
<% include top-component/tablero %>
</head>
<body>
<% include partials/navigation %>

           
    <h2>Hola puto</h2>

    


          
<% include bottom-component/tablero %>


<% include partials/footer %>

</body>
</html>
