
<% include partials/head %>
<% include top-component/tablero %>

<body>
<% include partials/navigation %>

           
    <h2>Hola</h2>

    


          
<% include bottom-component/tablero %>


<% include partials/footer %>

</body>
</html>
